/* Start body*/
body {
    background-color: rgb(174, 224, 116);
    color:black;
}
/* End body*/

/* Start Debug*/
.bg-aquamarine {
background-color: aquamarine
}

.bg-rgb {
    background-color: rgb(136, 127, 255)
}        
/* End Debug*/

/* Start Container */
.container {
 margin: 10px auto;
 overflow: auto;
 width: 80%;
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
   }

/* End Container */

/* Start Logo*/
.logo {
    text-align: center;
}
/* End Logo*/

/* Start Anchor / Hyperlink */
a:link,
a:visited {
    color: #0366d6;
    text-decoration: none;
}
a:hover,
a:active {
    color: #000000;
    text-decoration: underline;
}

/* End Anchor / Hyperlink */

/* Start Menu Primer */
.menu-primer ul {
    background-color: #0f9ddf;
    border-radius: 4px;
    
}

.menu-primer li {
    border-right: 1px solid #d1d5da;
   display: inline-block;
   margin: 0 -4px;
}

.menu-primer a {
    color: #111111;
    font-size: 13px;
    display: inline-blok;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
    }


    .menu-primer a:hover {
        background-color: aliceblue;
        color: #111111;
        text-decoration: none;
    }

    .menu-primer .active {
        background-color: #d1d5da;
        color: #df3b3b;
        text-decoration: none;

    }
/* End Menu Primer */


/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: #10d1f3;
    border: 1px solid #eaedef;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}

/* End Jumbotron */

/* Start Main */
.main-home-one  {
    float: left;
    width: 49.5%
}
.main-home-two  {
    float: right;
    width: 49.5%
}
.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 140px;
}
.main-one {
    float: left;
    overflow: auto;
    width: 70%;
}
/* End Main */

/* Start Sidebar */
.sidebar-two {
    float: rigth;
    overflow: auto;
    width: 29%;
}
/* End Sidebar */


}

/* Start Box */
.box-heading {
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: #ffffff;
    border: 1px solid #eaecef;
    border-top:  0;
    margin: 0;
    padding: 0;
}
/* End Box */

/* Start Testimonial */
.testimonial {
    border-left: 4px solid #dfe2e5;
    margin-left: 30px;
    padding-left: 20px;
}
/* End Testimonial */

/* Start Layanan Table */
.layanan-table {
    border: 1px solid #df3b3b;
    border-collapse: collapse;
    margin: auto;
    width: 100%
}
.layanan-table th {
    background-color: #f6f8fa 
}
.layanan-table td {
    text-align: center;
}
/* End Layanan Table */

/* Start Form */
input [type="text"],
input [type="email"],
textarea {
    font-size: 14px;
    padding: 10px;
}
input::placeholder,
textarea::placeholder {
    color: #888888;
    font-weight: 300
}

input [type="submit"], .button {
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    border: 1px solid rgba (27, 31, 35,0,2);
    border-radius: 4px;
    color: #111111 !important;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing: 1px;

}
/* End Form */

/* Start Contact Form */
.contact-form div {
    margin: 20% 0;
}
/* End Contact Form */


/* Start Menu Sekunder */
.menu-sekunder {
    background-color: #f6f8fa;
    border-bottom: 1px solid #eaecef;
    border-top: 1px solid #eaecef;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style-type: disc;
}

.menu-sekunder li a,
.menu-sekunder p {
    font-size: 15px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width: 40%; 
}
.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}
.menu-sekunder li img {
    vertical-align: middle;
}
/* End Menu Sekunder */

/* Start Copyright */
.copyright p {
    font-size: 15px;
}
/* End Copyright */

/* Start Effect */
@import url(https://fonts.googleapis.com/css?family=Montserrat:200);
.snip1577 {
  font-family: 'Montserrat', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 16px;
  background: #000;
}

.snip1577 *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1577 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1577:before,
.snip1577:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.snip1577:before {
  width: 0;
  height: 1px;
}

.snip1577:after {
  height: 0;
  width: 1px;
}

.snip1577 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.snip1577 h3,
.snip1577 h4 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}

.snip1577 h4 {
  font-size: .8em;
  text-transform: uppercase;
}

.snip1577 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1577:hover img,
.snip1577.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.snip1577:hover:before,
.snip1577.hover:before,
.snip1577:hover:after,
.snip1577.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.snip1577:hover:before,
.snip1577.hover:before {
  width: 40px;
}

.snip1577:hover:after,
.snip1577.hover:after {
  height: 40px;
}

.snip1577:hover h3,
.snip1577.hover h3,
.snip1577:hover h4,
.snip1577.hover h4 {
  opacity: 1;
}

.snip1577:hover h3,
.snip1577.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.snip1577:hover h4,
.snip1577.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
/* End Effect */
